
html{
    height: 100%;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: black
}

.bem-vindo{
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: 2rem;
    font-style: bold;
    margin-top: 4rem;
}

.first{
    margin: 0.3rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.wrapper{
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }

select,button{
    padding: 10px;
    font-size: 18px;
    margin: auto;
    cursor: pointer;
    width: 220px;
    font-family: 'Open Sans', sans-serif;
}

.select-wrap{
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    background: #fefefe;
    box-shadow: 0 0 2px maroon;
}

button{
    margin-bottom: 1rem;
    margin-left: 25px;
    margin-right: 25px;
}

.resultado{
    font-size: 2rem;
    padding: 1rem;
}

select{
    background: none;
    border: 0;
    position: relative;
    z-index: 2;
}
select:focus,
select:active{
    outline: 0;
}

button{
    position: relative;
    background: maroon;
    border: 0;
    color: #fff;
    font-weight: bold;
    border-radius: 0.2rem;

}
button:hover,
button:focus{
    outline: 0;
    top: 1px;
    background: maroon;
}
button:active{
    outline: 0;
    top: 5px;

}
